
<div style="margin-top: 30px;">
	<div class="generic-container">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="lead">Student Information Service - List of
					Applications</span>
			</div>
			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Application Id</th>
							<th>Customer Id</th>
							<th>HEI Name</th>
							<th>Course Name</th>
							<th>Course Year</th>
							<th>TF Loan Amount</th>
							<th>Maintenance Loan Amount</th>
							<th width="10%"></th>
						</tr>
					</thead>
					<tbody ng-repeat="app in applications">
						<tr>
							<td><span>{{app.id}}</span></td>
							<td><span>{{app.customerId}}</span></td>
							<td><span>{{getHEIName(app.heiCode)}}</span></td>
							<td><span>{{getCourseName(app.courseCode)}}</span></td>
							<td><span>{{app.courseYear}}</span></td>
							<td><span>{{app.tflAmount}}</span></td>
							<td><span>{{app.mlAmount}}</span></td>
							<td>
								<button type="button" ng-click="editAppDetails(app.id)"
									class="btn btn-success custom-width"
									ng-show="showAppEditSection[app.id] == false"
									style="display: none;">Edit</button>
								<button type="button" ng-click="hideAppDetails(app.id)"
									class="btn btn-success custom-width"
									ng-show="showAppEditSection[app.id] == true">Hide</button>
								<button type="button" ng-click="confirmAttendance(app)"
									class="btn btn-success custom-width buttonFont"
									ng-show="app.confirmedAtnInd != 'Y'">Confirm
									Attendance</button>
							</td>
						</tr>
						<tr ng-show="showAppEditSection[app.id] == true">

							<td colspan="8">

								<div id="EditAppSection" class="panel panel-default">
									<div class="panel-heading">
										<span class="lead" style="padding-left: 500px;">Edit
											Application Details</span>
									</div>

									<div id="EditAppDetailsSection"
										style="padding-left: 30%; padding-bottom: 5%;">

										<div id="HEINameSection" style="padding-top: 30px;">
											<div id="HEINameTxt" class="body-text left width200">
												University Name<span style="color: red;">*</span>
											</div>
											<div id="HEINameTxtFieldSection" class="left"
												style="padding-left: 50px;">
												<select ng-model="application.heiCode">
													<option value="Select">Select</option>
													<option ng-repeat="x in heis" value="{{x.code}}">{{x.name}}</option>
												</select>
											</div>
											<div class="clear"></div>
										</div>

										<div id="CourseNameSection" style="padding-top: 30px;">
											<div id="CourseNameSectionTxt"
												class="body-text left width200">
												Course Name<span style="color: red;">*</span>
											</div>
											<div id="CourseNameSectionTxtFieldSection" class="left"
												style="padding-left: 50px;">
												<select ng-model="application.courseCode">
													<option value="Select">Select</option>
													<option ng-repeat="x in courses" value="{{x.code}}">{{x.name}}</option>
												</select>
											</div>
											<div class="clear"></div>
										</div>

										<div id="CourseYearSection" style="padding-top: 30px;">
											<div id="CourseYearSectionTxt"
												class="body-text left width200">
												Course Year<span style="color: red;">*</span>
											</div>
											<div id="CourseYearSectionTxtFieldSection" class="left"
												style="padding-left: 50px;">
												<select ng-model="application.courseYear">
													<option value="Select">Select</option>
													<option ng-repeat="x in courseYears" value="{{x.code}}">{{x.name}}</option>
												</select>
											</div>
											<div class="clear"></div>
										</div>

										<div id="TFLAmountSection" style="padding-top: 30px;">
											<div id="TFLAmountSectionTxt" class="body-text left width200">
												Tuition Fee Loan Amount (In &#163;)<span style="color: red;">*</span>
											</div>
											<div id="TFLAmountSectionTxtFieldSection" class="left"
												style="padding-left: 50px;">
												<input type="text"
													ng-class="{ errorinput: isAppFieldsEmpty && createApplicationForm.tflAmount.$invalid}"
													id="TFLAmountSectionTxtField" name="tflAmount"
													ng-model="application.tflAmount"
													placeholder="Tuition Fee Loan Amount" required />
											</div>
											<div class="clear"></div>
										</div>

										<div id="MLAmountSection" style="padding-top: 30px;">
											<div id="MLAmountSectionTxt" class="body-text left width200">
												Maintenance Loan Amount (In &#163;)<span style="color: red;">*</span>
											</div>
											<div id="MLAmountSectionTxtFieldSection" class="left"
												style="padding-left: 50px;">
												<input type="text"
													ng-class="{ errorinput: isAppFieldsEmpty && createApplicationForm.mlAmount.$invalid}"
													id="MLAmountSectionTxtField" name="mlAmount"
													ng-model="application.mlAmount"
													placeholder="Maintenance Loan Amount" required />
											</div>
											<div class="clear"></div>
										</div>


										<div id="ButtonSection"
											style="padding-top: 30px; padding-left: 20%;">
											<div id="SaveButton" class="left"
												ng-click="saveApplication(application)">
												<input type="button" value="Save"
													class="btn btn-success custom-width" />
											</div>
											<div class="clear"></div>
										</div>

									</div>




								</div>

							</td>

						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>
</div>
