
<div style="margin-top: 30px;">
	<div class="generic-container">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="lead">Student Information Service - List of
					Customers</span>
			</div>
			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Customer Id</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email Address</th>
							<th>Address Line 1</th>
							<th>Address Line 2</th>
							<th>City</th>
							<th>Postal Code</th>
							<th>Phone Number</th>
							<th width="5%"></th>
						</tr>
					</thead>
					<tbody ng-repeat="cust in customers">
						<tr>
							<td><span>{{cust.id}}</span></td>
							<td><span>{{cust.firstName}}</span></td>
							<td><span>{{cust.lastName}}</span></td>
							<td><span>{{cust.emailAddress}}</span></td>
							<td><span>{{cust.addressLine1}}</span></td>
							<td><span>{{cust.addressLine2}}</span></td>
							<td><span>{{cust.city}}</span></td>
							<td><span>{{cust.postalCode}}</span></td>
							<td><span>{{cust.phoneNumber}}</span></td>
							<td>
								<button type="button" ng-click="editCustDetails(cust.id)"
									class="btn btn-success custom-width"
									ng-show="showCustEditSection[cust.id] == false" style="display: none;">Edit</button>
								<button type="button" ng-click="hideCustDetails(cust.id)"
									class="btn btn-success custom-width"
									ng-show="showCustEditSection[cust.id] == true">Hide</button>
							</td>
						</tr>
						<tr ng-show="showCustEditSection[cust.id] == true">

							<td colspan="10">

								<div id="EditCustSection" class="panel panel-default">
									<div class="panel-heading">
										<span class="lead" style="padding-left: 300px;">Edit
											Customer Details</span>
									</div>

									<div id="EditCustDetailsSection" style="padding-left: 30%; padding-bottom: 5%;">

										<div id="FirstNameSection" style="padding-top: 30px;">
											<div id="FirstNameTxt" class="body-text left width200">
												First Name<span style="color: red;">*</span>
											</div>
											<div id="FirstNameTxtFieldSection" class="left"
												style="padding-left: 50px;">
												<input type="text"
													ng-class="{ errorinput: isFieldsEmpty && addCustomerForm.firstName.$invalid }"
													id="FirstNameTxtField" name="firstName"
													ng-model="customer.firstName" placeholder="First Name" required />
											</div>
											<div class="clear"></div>
										</div>

										<div id="LastNameSection" style="padding-top: 30px;">
											<div id="LastNameSectionTxt" class="body-text left width200">
												Last Name<span style="color: red;">*</span>
											</div>
											<div id="LastNameSectionTxtFieldSection" class="left"
												style="padding-left: 50px;">
												<input type="text"
													ng-class="{ errorinput: isFieldsEmpty && addCustomerForm.lastName.$invalid }"
													id="LastNameSectionTxtField" name="lastName"
													ng-model="customer.lastName" placeholder="Last Name" required />
											</div>
											<div class="clear"></div>
										</div>

										<div id="EmailAddressSection" style="padding-top: 30px;">
											<div id="EmailAddressSectionTxt"
												class="body-text left width200">
												Email Address<span style="color: red;">*</span>
											</div>
											<div id="EmailAddressSectionTxtFieldSection" class="left"
												style="padding-left: 50px;">
												<input type="text"
													ng-class="{ errorinput: isFieldsEmpty && addCustomerForm.emailAddress.$invalid}"
													id="EmailAddressSectionTxtField" name="emailAddress"
													ng-model="customer.emailAddress" placeholder="Email Address"
													required />
											</div>
											<div class="clear"></div>
										</div>

										<div id="AddressLine1Section" style="padding-top: 30px;">
											<div id="AddressLine1SectionTxt"
												class="body-text left width200">
												Address Line 1<span style="color: red;">*</span>
											</div>
											<div id="AddressLine1SectionTxtFieldSection" class="left"
												style="padding-left: 50px;">
												<input type="text"
													ng-class="{ errorinput: isFieldsEmpty && addCustomerForm.addressLine1.$invalid}"
													id="AddressLine1SectionTxtField" name="addressLine1"
													ng-model="customer.addressLine1" placeholder="Address Line 1"
													required />
											</div>
											<div class="clear"></div>
										</div>

										<div id="AddressLine2Section" style="padding-top: 30px;">
											<div id="AddressLine2SectionTxt"
												class="body-text left width200">Address Line 2</div>
											<div id="AddressLine2SectionTxtFieldSection" class="left"
												style="padding-left: 50px;">
												<input type="text" id="AddressLine2SectionTxtField"
													name="addressLine2" ng-model="customer.addressLine2"
													placeholder="Address Line 2" required />
											</div>
											<div class="clear"></div>
										</div>

										<div id="CitySection" style="padding-top: 30px;">
											<div id="CitySectionTxt" class="body-text left width200">
												City<span style="color: red;">*</span>
											</div>
											<div id="CitySectionTxtFieldSection" class="left"
												style="padding-left: 50px;">
												<input type="text"
													ng-class="{ errorinput: isFieldsEmpty && addCustomerForm.city.$invalid}"
													id="CitySectionTxtField" name="city" ng-model="customer.city"
													placeholder="City" required />
											</div>
											<div class="clear"></div>
										</div>

										<div id="PostalCodeSection" style="padding-top: 30px;">
											<div id="PostalCodeSectionTxt"
												class="body-text left width200">
												Postal Code<span style="color: red;">*</span>
											</div>
											<div id="PostalCodeSectionTxtFieldSection" class="left"
												style="padding-left: 50px;">
												<input type="text"
													ng-class="{ errorinput: isFieldsEmpty && addCustomerForm.postalCode.$invalid}"
													id="PostalCodeSectionTxtField" name="postalCode"
													ng-model="customer.postalCode" placeholder="Postal Code" required />
											</div>
											<div class="clear"></div>
										</div>

										<div id="PhoneNumberSection" style="padding-top: 30px;">
											<div id="PhoneNumberSectionTxt"
												class="body-text left width200">Phone Number</div>
											<div id="PhoneNumberSectionTxtFieldSection" class="left"
												style="padding-left: 50px;">
												<input type="text" id="PostalCodeSectionTxtField"
													name="phoneNumber" ng-model="customer.phoneNumber"
													placeholder="Phone Number" required />
											</div>
											<div class="clear"></div>
										</div>

										<div id="ButtonSection"
											style="padding-top: 30px; padding-left: 20%;">
											<div id="SaveButton" class="left" ng-click="saveCustomer(customer)">
												<input type="button" value="Save"
													class="btn btn-success custom-width" />
											</div>
											<div class="clear"></div>
										</div>

									</div>



								</div>

							</td>

						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>
</div>
