<!DOCTYPE HTML>
<html ng-app="sisApp">
<head>
<title>Student Information Service</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/main.css" />
<link rel="stylesheet" href="../../css/slc.min.css" />
<link rel="stylesheet" href="../../css/sis.css" />

</head>
<body>

	<div id="burr">

		<nav class="navbar navbar-default" style="height: 100px;">
			<div class="headerText">Student Information Service</div>
		</nav>
		<div class="clear"></div>

		<div ng-controller="sisAppController">
			<div>
				<div class="lead pointer" style="float: left; text-decoration: underline;"
					ng-click="showCustomers()">Customers List</div>
				<div class="lead pointer"
					style="padding-left: 50px; float: left; text-decoration: underline;"
					ng-click="showApplications()">Applications List</div>
			</div>
			<div class="clear"></div>

			<div class="ng-view"></div>
			<div id="ProcessingOverlay" style="display: none;">
				<div class="processingoverlay"></div>
			</div>
		</div>

		<div class="clear"></div>
	</div>

	<script type="text/javascript" src="../../js/angular.min.js"></script>
	<script type="text/javascript" src="../../js/angular-route.js"></script>
	<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../js/overlay.js"></script>
	<script type="text/javascript" src="../../js/slc.min.js"></script>
	<script type="text/javascript" src="../../js/sis.js"></script>

</body>
</html>
